.image-nav {
    width: 100px;
}

#main {
    overflow-x: scroll;
    width: 100%;
    scrollbar-color: #ececec rgba(252, 0, 0, 0);
    scrollbar-width: thin;
}

#main::-webkit-scrollbar-track {
    background: rgba(255, 0, 0, 0.3);
    border-radius: 10px;
    margin: 0 5px;
}

#main::-webkit-scrollbar-thumb {
    background: linear-gradient(90deg, #333, #555);
    border-radius: 10px;
    transition: all 0.3s ease;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.5);
}

#main::-webkit-scrollbar-thumb:hover {
    background: linear-gradient(90deg, #555, #777);
    transform: scaleY(1.2);
}

#horizontal-scroll {
    display: inline-flex;
    padding: 1px;
}